@font-face {
    font-family: 'PATRICK';
    src: url(./assets/fonts/PatrickHand-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PATRICK', sans-serif;
}