.main-cont {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgreen;
}

.interactables-cont {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.heatmap {
    width: 700px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
}

.button-cont {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.button-cont button {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

.button-cont button:hover {
    background-color: lightblue;
    color: black;
}