.start-screen {
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 200, 200, .95);
    z-index: 100;
    position: fixed;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: bottom 0.75s cubic-bezier(0.4, 0, 0.2, 1);
    bottom: 0vh;
    z-index: 100;
}

.start-screen.active {
    bottom: 100vh;
}

.start-screen button {
    width: 200px;
    height: 50px;
    background-color: gold;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 24px;
    font-family: sans-serif;
}

.start-screen button:hover {
    background-color: goldenrod;
}